{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
        {% for item in stock %}
            <tr>
                <td>{{ item["name"] }}</td>
                <td>{{ item["SUM(shares)"] }}</td>
                <td>{{ usd(current_price[item["id"]]) }}</td>
                <td>{{ usd(item["SUM(shares)"] * current_price[item["id"]]) }}</td>
            </tr>
        {% endfor %}
      <tr>
        <td>CASH</td>
        <td colspan="2"></td>
        <td>{{ usd(cash) }}</td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <th scope="row">{{ usd(total_value) }}</th>
      </tr>
    </tbody>
  </table>
{% endblock %}
